.head{
    text-align: center;
    padding-left: 34%;
    color:aliceblue;
    
}
.adminManage{
    background-color: rgba(6, 161, 185, 0.271);
}
.navbarM{
    background-color:rgba(6, 161, 185, 0.643);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.add-medicine-container{
    margin-left: 38%;
    margin-top: 5%;
    
   

}
.add-medicine {
    font-weight: bold;
}

.add-medicine input{
    height: 35px;
    width:350px;
    border:none;
    border-radius: 25px;
}
.medicine-btn{
    background-color: #0737156a;
    padding:10px;
    border:none;
    border-radius: 10%;
    margin-left:15%;
   
} 
.medicine-btn:hover{
    background-color: #5d575765;
    color: #151515f5;
}
.addProduct{
    padding: 10px;
    background-color: #485452;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 10px;
    color:rgb(244, 240, 240);
    font-weight: bold;
    margin-top: 20px;
    
}
.addProduct:hover{
    background-color:rgba(6, 161, 185, 0.643);
    color:black;
  
}