
button[type="submit"] {
    padding: 10px;
    background-color: #485452;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 60px;
    color:rgb(244, 240, 240);
    font-weight: bold;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #087e5360;
    color:black;
  
  }
  .container-login{
    display: flex;
    
  }
  .form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
  
  }
  
  .form input{
    margin:10px; 
    padding:10px; 
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, 0.141); 
  }
 .form{
  flex:1;
  background-color: rgba(81, 87, 92, 0.382);
  padding:40px;
  padding-top: 20%;
 }
 
.container-1 img{
  height: 80vh;
}