.form-login{
    width:30vw;
    height:60vh;
    background:rgba(230, 221, 221, 0.2);
    padding:10px;
    overflow: hidden;
    
}
.login-content{
    display: flex;
    justify-content: center;
    margin: 10%;
}
.login-image img{
    width: 30vw;
    height: 60vh;
    object-fit: cover;
}