*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: 100%;
    width: 100%;
}
.form-box
{
    width:380px;
    height: auto;
    background:rgba(230, 221, 221, 0.2);
    padding:10px;
    overflow: hidden;
}
.input-field
{
    width: 100%;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom: 1px solid #999;
    outline:none;
    background: transparent;
    color: black;
}
/* ::placeholder{
    color: black;
} */
.submit-btn
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #d28227;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box
{
    margin: 30px 10px 34px 0;
}
.error
{
    color:rgb(175, 26, 26);
    font-size:12px;
}
.form-content{
    display: flex;
    justify-content: center;
    margin: 8%;
    
}
.form-pic img{
    width: 40vw;
    height: 70vh;
    object-fit: cover;
}
::-webkit-scrollbar{
    overflow: hidden;
}
