*{
    margin: 0;
    padding: 0;
}
.booking-page{
    background-color: whitesmoke;
    height: 100vh;
}
h2{
    margin-top: 50px;
}
.btnpay{
    background-color: rgb(68, 148, 180) ;
    border: none;
    padding: 5px;
    margin-bottom: 20px;
    width: 30%;
}
